<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p><%= link_to 'Substances', substances_path %></p>
<p><%= link_to 'Statutes', statutes_path %></p>
<p><%= link_to 'Substance Classifications', substance_classifications_path %></p>
<p><%= link_to 'Schedule Levels', schedule_levels_path %></p>
