<h2><%= link_to 'Users:', users_path %> <%= User.count %> registered</h2>
<h2><%= link_to 'Substances', substances_path %></h2>
<h2><%= link_to 'Statutes', statutes_path %></h2>
<h2><%= link_to 'Search Statutes by Substance', statute_searches_path %></h2>
<h2><%= link_to 'Statute Amendments', statute_amendments_path %></h2>
<h2><%= link_to 'Substance Classifications', substance_classifications_path %></h2>
<h2><%= link_to 'Schedule Levels', schedule_levels_path %></h2>
<h2><%= link_to 'Substance Alternate Names', substance_alternate_names_path %></h2>
