<%= form_for @statute do |f| %>
   <% if @statute.errors.any? %>
      <div id="error_explanation">
         <h2>
            <%= pluralize(@statute.errors.count, "error") %> prohibited this statute from being saved:
         </h2>
         <ul>
            <% @statute.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <% if @statute.is_a?(StatuteAmendment) %>
      <p>
         <%= f.label :statute_being_amended %>: <%= link_to @statute.statute.formatted_name, statute_path(@statute.statute) %>
         <%= f.hidden_field :parent_id, value: @statute.statute.id %>
         <%= f.hidden_field :state, value: @statute.statute.state %>
      </p>
   <% else %>
      <p>
         <%= f.label :state %><br>
         <%= select(:statute, :state, Statute::STATES) %>
      </p>
   <% end %>

   <p>
      <%= f.label :blue_book_code %><br>
      <%= f.text_area :blue_book_code, cols: 100, rows: 3 %>
   </p>

   <p>
      <%= f.label :start_date %><br>
      <%= date_field(:statute, :start_date) %>
   </p>

   <p>
      <%= f.label :expiration_date %><br>
      <%= date_field(:statute, :expiration_date) %>
   </p>

   <% if !@statute.is_a?(StatuteAmendment) %>
      <p>
         <%= f.label :duplicate_federal_as_of_date, 'Duplicate federal statute as of this date?  (Only choose a value if you are duplicating the federal statute!)' %><br>
         <%= date_field(:statute, :duplicate_federal_as_of_date) %>
      </p>
   <% end %>

   <p>
      <%= f.label :comment %><br/>
      <%= f.text_area(:comment, cols: '50', rows: '10') %>
   </p>

   <p>
      <%= f.submit %>
   </p>
<% end %>