<table>
   <tr>
      <th>State/Start Date</th>
      <th>Expiration Date</th>
      <th>Blue Book Code</th>
      <th>Comments</th>
      <th>Changes</th>
      <th>Edit</th>
      <th>Delete</th>
   </tr>

   <% statutes.each do |statute| %>
      <tr>
         <td><%= link_to(statute.formatted_name, statute_path(statute)) %></td>
         <td><%= statute.expiration_date %></td>
         <td><%= statute.blue_book_code %></td>
         <td><%= statute.comment %></td>

         <% if statute.substance_statutes.size > 0 %>
            <td><%= statute.substance_statutes.size %></td>
         <% else %>
            <td class='expiration'>0</td>
         <% end %>

         <td class='button'><%= link_to 'Edit', edit_statute_path(statute) %></td>
         <td class='button'><%= link_to 'Delete', statute_path(statute), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <tr>
   <% end %>
</table>
