<h2><%= link_to "Create new Statute", new_statute_path %></h2>

<table id="main_table" border="1">
   <tr>
      <td>ID</td>
      <td>Name</td>
      <td>State</td>
      <td>Start Date</td>
      <td>Expiration Date</td>
      <td>Blue Book Code</td>
      <td></td>
   </tr>

   <% @statutes.each do |statute| %>
      <tr>
         <td><%= link_to "#{statute.id}", statute_path(statute) %></td>
         <td><%= statute.name %></td>
         <td><%= statute.state %></td>
         <td><%= statute.start_date %></td>
         <td><%= statute.expiration_date %></td>
         <td><%= statute.blue_book_code %></td>
         <td><%= link_to 'edit', edit_statute_path(statute) %></td>
      <tr>
   <% end %>
</table>
