<% if @substance %>
  <h3>Statutes that regulate <%= link_to(@substance.name, substance_path(@substance)) %></h3>
  <% if @as_of_date %>
    <h3>As of <%= @as_of_date.strftime('%Y-%m-%d') %></h3>
   <% end %>
<% end %>

<table>
   <tr>
      <th>Name</th>
      <th>State</th>
      <th>Start Date</th>
      <th>Title</th>
      <th>Expiration Date</th>
      <th>Blue Book Code</th>
      <th>Edit</th>
      <th>Delete</th>
   </tr>

   <% @statutes.each do |statute| %>
      <tr>
         <td><%= link_to(statute.formatted_name, statute_path(statute)) %></td>
         <td><%= statute.state %></td>
         <td><%= statute.start_date %></td>
         <td><%= statute.name %></td>
         <td><%= statute.expiration_date %></td>
         <td><%= statute.blue_book_code %></td>
         <td class='button'><%= link_to 'Edit', edit_statute_path(statute) %></td>
         <td class='button'><%= link_to 'Delete', statute_path(statute), method: :delete, data: { confirm: "Are you sure?" } %></td>
      <tr>
   <% end %>
</table>

<h2><%= link_to "Create New Statute", new_statute_path %></h2>
