<div class='basic_info'>
   <% if @statute.is_a?(StatuteAmendment) %>
      <h2>Amends Statute: <%= link_to @statute.statute.formatted_name, statute_path(@statute.statute) %>
   <% else %>
      <h2>Blue Book Code: <%= @statute.blue_book_code %></h2>
   <% end %>

   <h3>State: <%= @statute.state %></h3>
   <h4>Effective Date: <%= @statute.start_date.strftime('%Y-%m-%d') %></h4>
   <h4>Expiration Date: <%= @statute.expiration_date %></h4>
   <% if @statute.duplicate_federal_as_of_date %>
      <h4>Duplicates the federal statutes as of <%= @statute.duplicate_federal_as_of_date.strftime('%Y-%m-%d') %></h4>
   <% end %>
   <h4><%= link_to "(Edit)", edit_statute_path(@statute) %></h4>

   <div class='comments'>
      <h3>COMMENTS:</h3>
      <p><%= @statute.comment %></p>
   </div>
</div>

<% if @as_of_date %>
   <div class='filter_notification'>
      <h4>Currently only showing regulations as of <%= @as_of_date.strftime('%Y-%m-%d') %> (additions and expirations after this date will not appear!)</h4>
   </div>
<% else %>
   <% if !@statute.is_a?(StatuteAmendment) %>
      <div class='extended_info'>
         <h2>Amendments (<%= link_to 'Add an amendment to this statute', { controller: 'statute_amendments', action: :new, parent_id: @statute.id } %>)</h2>

         <% if !@statute.statute_amendments.empty? %>
            <table>
               <tr>
                  <th>Amendment Identifier</th>
                  <th>Blue Book Code</th>
                  <th>Changes</th>
                  <th>Edit</th>
                  <th>Delete</th>
               </tr>

               <% @statute.statute_amendments.each do |amendment| %>
                  <tr>
                     <td><%= link_to amendment.formatted_name, statute_path(amendment) %></td>
                     <td><%= amendment.blue_book_code %></td>
                     <% if amendment.substance_statutes.size > 0 %>
                        <td><%= amendment.substance_statutes.size %></td>
                     <% else %>
                        <td class='expiration'>0</td>
                     <% end %>
                     <td class='button'><%= link_to 'Edit', edit_statute_path(amendment) %></td>
                     <td class='button'><%= link_to 'Delete', statute_path(amendment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
               <% end %>
            </table>
         <% end %>
      </div>
   <% end %>
<% end %>

<div class='extended_info'>
   <h2>Changes in Scheduling Effected by This <%= !@statute.is_a?(StatuteAmendment) ? 'Statute and Its Amendments' : @statute.class %></h2>
   <h3>(<%= link_to @scheduled_substance_message, { controller: 'substance_statutes', action: :new, statute_id: @statute.id } %>)</h3>

   <% if @substance_statute_data.size > 0 %>
      <table>
         <tr>
            <th>Change Type</th>
            <th>Regulates Substance</th>
            <th>AKA</th>
            <th>Added By</th>
            <th>Effective On</th>
            <th>Inclusions</th>
            <th>Expired By</th>
            <th>Scheduled Level</th>
            <th>Edit Link to Statute</th>
            <th>Delete Link to Statute</th>
         </tr>

         <% @substance_statute_data.each do |ss| %>
            <tr>
               <% if ss[:is_expiration] != true %>
                  <td class='addition'>addition</td>
               <% else %>
                  <td class='expiration'>expiration</td>
               <% end %>

               <td><%= link_to ss[:substance].name, ss[:substance_statute] %></td>
               <td><%= ss[:substance_statute].substance_alternate_names.map { |san| link_to(san.name, san) }.join(', ').html_safe %></td>

               <td>
                  <% if ss[:added_by_amendment].is_a?(Statute) %>
                     <%= link_to ss[:added_by_amendment].formatted_name, statute_path(ss[:added_by_amendment]) %>
                  <% else %>
                     <%= ss[:added_by_amendment] %>
                  <% end %>
               </td>
               <td><%= ss[:start_date].strftime('%Y-%m-%d') %></td>

               <% if ss[:substance_statute].has_include_flags? %>
                  <td class='addition'><%= ss[:substance_statute].include_flags_string %></td>
               <% else %>
                  <td>None</td>
               <% end %>

               <% if ss[:expired_by_amendment] %>
                  <td class='expiration'><%= link_to ss[:expired_by_amendment].formatted_name, statute_path(ss[:expired_by_amendment]) %></td>
               <% else %>
                  <td></td>
               <% end %>

               <% if ss[:schedule_level] && ss[:schedule_level].is_a?(Integer) %>
                  <td class='schedule_level'><%= link_to ScheduleLevelsController::LEVELS.keys[ss[:schedule_level] - 1], { controller: "schedule_levels", action: :show, id: ss[:schedule_level] } %></td>
               <% else %>
                  <td></td>
               <% end %>

               <% if ss[:added_by_amendment] =~ /^This / %>
                  <td class='button'><%= link_to 'Edit', edit_substance_statute_path(ss[:substance_statute]) %></td>
                  <td class='button'><%= link_to 'Delete', substance_statute_path(ss[:substance_statute]), method: :delete, data: { confirm: "Are you sure?" } %></td>
               <% else %>
                  <td>N/A</td>
                  <td>N/A</td>
               <% end %>
            </tr>
         <% end %>
      </table>
   <% end %>
</div>

<% if @statute.audits.size > 0 %>
   <div class='audit_log'>
      <%= render partial: 'audits/audit_table', locals: { audits: @statute.audits.all.reverse } %>
   </div>
<% end %>
