<h2>STATE: <%= @statute.state %></h2>
<h2>EFFECTIVE DATE: <%= @statute.start_date.strftime('%Y-%m-%d') %></h2>

<br/>

<h3>Blue Book Code: <%= @statute.blue_book_code %></h3>
<h3>Title: <%= @statute.name%> </h3>
<h3>Expiration Date: <%= @statute.expiration_date %>

<br/>
<h3><%= link_to 'edit statute', edit_statute_path(@statute) %></h3>
<br/>

<h3>Substances Scheduled By This Statute</h3>
<%= link_to 'add a substance to this statute', { controller: 'substance_statutes', action: :new, statute_id: @statute.id } %>
<table>
   <tr>
      <th>Substance Name</th>
      <th>Classification</th>
      <th>Scheduled Level</th>
      <th></th>
   </tr>

   <% @statute.substance_statutes.each do |ss| %>
      <tr>
         <td><%= link_to ss.substance.name, substance_path(ss.substance) %></td>

         <% if ss.substance.substance_classification.try(:name) %>
            <td><%= link_to ss.substance.substance_classification.name, substance_classification_path(ss.substance.substance_classification) %></td>
         <% else %>
            <td></td>
         <% end %>

         <% if ss.schedule_level && ss.schedule_level.is_a?(Integer) %>
            <td class='schedule_level'><%= link_to ScheduleLevelsController::LEVELS.keys[ss.schedule_level - 1], { controller: "schedule_levels", action: :show, id: ss.schedule_level } %></td>
         <% else %>
            <td></td>
         <% end %>

         <td><%= link_to "edit link", edit_substance_statute_path(ss) %></td>
      </tr>
   <% end %>
</table>

<h3><%= link_to 'back', statutes_path %></h3>