<div class='basic_info'>
   <% if @statute.is_a?(StatuteAmendment) %>
      <h2>Amends Statute: <%= link_to @statute.statute.formatted_name, statute_path(@statute.statute) %>
   <% else %>
      <h2>Title: <%= @statute.name %></h2>
   <% end %>

   <h3>State: <%= @statute.state %></h3>
   <h4>Type: <%= @statute.class %></h4>
   <h4>Effective Date: <%= @statute.start_date.strftime('%Y-%m-%d') %></h4>
   <h4>Expiration Date: <%= @statute.expiration_date %></h4>
   <h4>Blue Book Code: <%= @statute.blue_book_code %></h4>
   <% if @statute.duplicate_federal_as_of_date %>
      <h4>Duplicates the federal statutes as of <%= @statute.duplicate_federal_as_of_date.strftime('%Y-%m-%d') %></h4>
   <% end %>
   <h4><%= link_to "Edit #{@statute.class}", edit_statute_path(@statute) %></h4>
</div>

<div class='comment'>
   <h3>COMMENTS:</h3>
   <p><%= @statute.comment %></p>
</div>

<div class='amendments'>
   <% if !@statute.is_a?(StatuteAmendment) %>
      <h3>Amendments</h3>
      <%= link_to 'Add an amendment to this statute', { controller: 'statute_amendments', action: :new, parent_id: @statute.id } %>


      <% if !@statute.statute_amendments.empty? %>
         <table>
            <tr>
               <th>Amendment Identifier</th>
               <th>Blue Book Code</th>
            </tr>

            <% @statute.statute_amendments.sort { |a,b| a.start_date <=> b.start_date }.each do |amendment| %>
               <tr>
                  <td><%= link_to amendment.formatted_name, statute_path(amendment) %></td>
                  <td><%= amendment.blue_book_code %></td>
               </tr>
            <% end %>
         </table>
      <% end %>
   <% end %>
</div>

<div class='scheduled_substances'>
   <h3>Changes in Scheduling Effected by This <%= @statute.class %></h3>
   <h4><%= link_to @scheduled_substance_message, { controller: 'substance_statutes', action: :new, statute_id: @statute.id } %></h4>

   <% if @substance_statute_data.size > 0 %>
      <table>
         <tr>
            <th>Change Type</th>
            <th>Substance Name</th>
            <th>Added By</th>
            <th>Added On</th>
            <th>Expired By</th>
            <th>Expired Date</th>
            <th>Scheduled Level</th>
            <th>Edit</th>
            <th>Delete</th>
         </tr>
         <% @substance_statute_data.each do |ss| %>
            <tr>
               <td><%= ss[:is_expiration] != true ? 'addition' : 'expiration' %></td>
               <td><%= link_to ss[:substance].name, substance_statute_path(ss[:substance]) %></td>

               <% if ss[:added_by_amendment] %>
                  <% if ss[:added_by_amendment].is_a?(Statute) %>
                     <td><%= link_to ss[:added_by_amendment].formatted_name, statute_path(ss[:added_by_amendment]) %></td>
                  <% else %>
                     <td>Duplicated Federal</td>
                  <% end %>
                  <td><%= ss[:start_date].strftime('%Y-%m-%d') %></td>
               <% else %>
                  <td>This Statute or Amendment</td>
                  <td>N/A</td>
               <% end %>

               <% if ss[:expired_by_amendment] %>
                  <td><%= link_to ss[:expired_by_amendment].formatted_name, statute_path(ss[:expired_by_amendment]) %></td>
                  <td><%= ss[:expired_by_amendment].start_date.strftime('%Y-%m-%d') %></td>
               <% else %>
                  <td></td>
                  <td></td>
               <% end %>

               <% if ss[:schedule_level] && ss[:schedule_level].is_a?(Integer) %>
                  <td class='schedule_level'><%= link_to ScheduleLevelsController::LEVELS.keys[ss[:schedule_level] - 1], { controller: "schedule_levels", action: :show, id: ss[:schedule_level] } %></td>
               <% else %>
                  <td></td>
               <% end %>

               <% unless ss[:added_by_amendment] %>
                  <td><%= link_to 'Edit', edit_substance_statute_path(ss[:substance_statute]) %></td>
                  <td><%= link_to 'Delete', substance_statute_path(ss[:substance_statute]), method: :delete, data: { confirm: "Are you sure?"} %></td>
               <% else %>
                  <td></td>
                  <td></td>
               <% end %>
            </tr>
         <% end %>
      </table>
   <% end %>
</div>
