<% content_for :title do %>
   <%= @statute.formatted_name %>
<% end %>

<div class='basic_info'>
   <% if @statute.is_a?(StatuteAmendment) %>
      <h2>Amends Statute: <%= link_to @statute.statute.formatted_name, statute_path(@statute.statute) %>
   <% end %>
   <h2>Blue Book Code: <%= @statute.blue_book_code %></h2>

   <h3>State: <%= @statute.state %></h3>
   <h4>Effective Date: <%= @statute.start_date.strftime('%Y-%m-%d') %></h4>
   <h4>Expiration Date: <%= @statute.expiration_date %></h4>
   <% if @statute.duplicate_federal_as_of_date %>
      <h4>Duplicates the federal statutes as of <%= @statute.duplicate_federal_as_of_date.strftime('%Y-%m-%d') %></h4>
   <% end %>
   <h4><%= link_to "(Edit)", edit_statute_path(@statute) %></h4>

   <div class='comments'>
      <h3>COMMENTS:</h3>
      <p><%= simple_format(@statute.comment) %></p>
   </div>
</div>

<% if @as_of_date %>
   <div class='filter_notification'>
      <h4>Currently only showing regulations as of <%= @as_of_date.strftime('%Y-%m-%d') %> (additions and expirations after this date will not appear!)</h4>
   </div>
<% else %>
   <% if !@statute.is_a?(StatuteAmendment) %>
      <div class='extended_info'>
         <h2>Amendments (<%= link_to 'Add an amendment to this statute', { controller: 'statute_amendments', action: :new, parent_id: @statute.id } %>)</h2>

         <% if !@statute.statute_amendments.empty? %>
            <%= render partial: 'statute_table', locals: { statutes: @statute.statute_amendments } %>
         <% end %>
      </div>
   <% end %>
<% end %>

<div class='extended_info'>
   <h2>Changes in Scheduling Effected by This <%= !@statute.is_a?(StatuteAmendment) ? 'Statute and Its Amendments' : @statute.class %></h2>
   <p><span class='addition'>Click the name of the substance to view the link between the substance and the statute</span></p>
   <h3>(<%= link_to @scheduled_substance_message, { controller: 'substance_statutes', action: :new, statute_id: @statute.id } %>)</h3>

   <% if @substance_statute_data.size > 0 %>
      <table>
         <tr>
            <th>Change Type</th>
            <th>Regulates Substance</th>
            <th>AKA</th>
            <th>Classification</th>
            <th>Added By</th>
            <th>Inclusions</th>
            <th>Comments</th>
            <th>Expired By</th>
            <th>Scheduled Level</th>
            <th>Edit</th>
            <th>Delete</th>
         </tr>

         <% @substance_statute_data.each do |ss| %>
            <tr>
               <% if ss[:is_expiration] != true %>
                  <td class='addition'>addition</td>
               <% else %>
                  <td class='expiration'>expiration</td>
               <% end %>

               <td><%= link_to ss[:substance].name, ss[:substance_statute] %></td>
               <td><%= ss[:substance_statute].substance_alternate_names.map { |san| link_to(san.name, san) }.join(', ').html_safe %></td>

               <% if ss[:substance_statute].substance_classification %>
                  <td><%= link_to(ss[:substance_statute].substance_classification.name, ss[:substance_statute]) %></td>
               <% else %>
                  <td class='expiration_toned_down'>Unknown</td>
               <% end %>

               <td>
                  <% if ss[:added_by_amendment].is_a?(Statute) %>
                     <%= link_to ss[:added_by_amendment].formatted_name, statute_path(ss[:added_by_amendment]) %>
                  <% else %>
                     <%= ss[:added_by_amendment] %>
                  <% end %>
               </td>

               <% if ss[:substance_statute].has_include_flags? %>
                  <td class='addition'><small><%= ss[:substance_statute].include_flags_string %><small></td>
               <% else %>
                  <td>None</td>
               <% end %>

               <td><%= simple_format(ss[:comment]) %></td>

               <% if ss[:expired_by_amendment] %>
                  <td class='expiration'>
                     <%= link_to("#{ss[:expiration_string]}", ss[:expired_by_amendment]) %>
                  </td>
               <% else %>
                  <td></td>
               <% end %>

               <% if ss[:schedule_level] && ss[:schedule_level].is_a?(Integer) %>
                  <td class='schedule_level'><%= link_to ScheduleLevelsController::LEVELS.keys[ss[:schedule_level] - 1], { controller: "schedule_levels", action: :show, id: ss[:schedule_level] } %></td>
               <% else %>
                  <td></td>
               <% end %>

               <% if ss[:added_by_amendment] =~ /^This / %>
                  <td class='button'><%= link_to 'Edit', edit_substance_statute_path(ss[:substance_statute]) %></td>
                  <td class='button'><%= link_to 'Delete', substance_statute_path(ss[:substance_statute]), method: :delete, data: { confirm: "Are you sure?" } %></td>
               <% else %>
                  <td>N/A</td>
                  <td>N/A</td>
               <% end %>
            </tr>
         <% end %>
      </table>
   <% end %>
</div>

<% if @statute.audits.size > 0 %>
   <div class='audit_log'>
      <%= render partial: 'audits/audit_table', locals: { audits: @statute.audits.all.reverse } %>
   </div>
<% end %>
