<h2>STATE: <%= @statute.state %></h2>
<h2>EFFECTIVE DATE: <%= @statute.start_date.strftime('%Y-%m-%d') %></h2>

<br/>

<h3>Blue Book Code: <%= @statute.blue_book_code %></h3>
<h3>Title: <%= @statute.name%> </h3>
<h3>Expiration Date: <%= @statute.expiration_date %>

<br/>
<br/>

<h3>Substances Scheduled By This Statute</h3>
<table border="1">
   <tr>
      <td>Substance ID</td>
      <td>Substance Name</td>
      <td>Scheduled Level</td>
   </tr>

   <% @statute.substance_statutes.each do |ss| %>
      <tr>
         <td><%= link_to "#{ss.substance.id}", substance_path(ss.substance) %></td>
         <td><%= link_to ss.substance.name, substance_path(ss.substance) %></td>
         <td><%= link_to ScheduleLevelsController::LEVELS.keys[ss.schedule_level - 1], { controller: "schedule_levels", action: :show, id: ss.schedule_level } %></td>
      </tr>
   <% end %>
</table>

<h3><%= link_to 'edit', edit_statute_path(@statute) %></h3>
<h3><%= link_to 'back', statutes_path %></h3>