<%= form_for @substance do |f| %>
   <% if @substance.errors.any? %>
      <div id='error_explanation'>
         <h2>
            <%= pluralize(@substance.errors.count, 'error') %> prohibited this statute from being saved:
         </h2>
         <ul>
            <% @substance.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, size: 80 %>
   </p>

   <p>
     <%= f.label :chemical_formula, 'Chemical Formula (IUPAC Format)' %><br>
     <%= f.text_field :chemical_formula, size: 80 %>
   </p>

   <p>
      <%= f.label :chemical_formula_smiles_format, 'Chemical Formula (SMILES Format)' %><br>
      <%= f.text_field :chemical_formula_smiles_format, size: 50 %>
   </p>

   <p>
      <%= f.label :dea_code, 'ACSCN/DEA Code' %><br>
      <%= f.text_field :dea_code %>
   </p>

   <p>
      <%= f.label :comment, 'Comment (should be specific to the substance itself and NOT related to its scheduling)' %><br/>
      <%= f.text_area(:comment, cols: '50', rows: '10') %>
   </p>

   <p>
      <%= f.submit %>
   </p>
<% end %>
