<tr>
   <td><%= link_to(substance.name, substance) %></td>
   <td><%= substance.alternate_names.map { |san| link_to(san.name, san) }.join(', ').html_safe %></td>
   <td class='monospace'><%= substance.chemical_formula %></td>
   <td><%= substance.comment %></td>
   <% if substance.substance_classification.try(:name) %>
      <td><%= link_to(substance.substance_classification.name, substance.substance_classification) %></td>
   <% else %>
      <td></td>
   <% end %>
   <td><%= substance.dea_code %></td>
   <% if substance.first_regulating_statute %>
      <td><%= link_to(substance.first_regulating_statute.formatted_name, substance.first_regulating_statute) %></td>
   <% else %>
      <td class='expiration'>Not Regulated</td>
   <% end %>
   <td class='button'><%= link_to 'edit', edit_substance_path(substance) %></td>
   <td class='button'><%= link_to 'delete', substance_path(substance), method: :delete, data: { confirm: "Are you sure?" } %></td>
<tr>
