<h2><%= link_to 'Create New Substance', new_substance_path %></h2>

<table>
   <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Classification</th>
      <th>DEA Code</th>
      <th></th>
   </tr>

   <% @substances.each do |substance| %>
      <tr>
         <td><%= link_to "#{substance.id}", substance_path(substance) %></td>
         <td><%= link_to substance.name, substance_path(substance) %></td>
         <% if substance.substance_classification.try(:name) %>
            <td><%= link_to substance.substance_classification.name, substance_classification_path(substance.substance_classification) %></td>
         <% else %>
            <td></td>
         <% end %>
         <td><%= substance.dea_code %></td>
         <td><%= link_to 'edit', edit_substance_path(substance) %></td>
      <tr>
   <% end %>
</table>
