<% content_for :title do %>
   <%= @substance.name %>
<% end %>

<div class='basic_info'>
   <h1><%= @substance.name %> (<%= link_to 'Edit', edit_substance_path(@substance) %>)</h1>

   <table class='properties'>
      <tr>
         <td class='properties'>Current Federal Classification</td>
         <% if @substance.current_classification('FEDERAL') %>
            <td class='property'><%= link_to(@substance.current_classification('FEDERAL').to_s, @substance.current_classification('FEDERAL')) %></td>
         <% else %>
            <td></td>
         <% end %>
      </tr>
      <tr>
         <td class='properties'>Chemical Name (IUPAC):</td>
         <td class='property'><%= @substance.chemical_formula %></td>
      </tr>
      <tr>
         <td class='properties'>SMILES Code:</td>
         <td class='property'><%= @substance.chemical_formula_smiles_format %></td>
      </tr>
      <tr>
         <td class='properties'>DEA Code:</td>
         <td class='property'><%= @substance.dea_code %></td>
      </tr>
      <tr>
         <td class='properties'>First Regulating Statute:</td>
         <% if @substance.first_regulating_statute %>
            <td class='property'><%= link_to @substance.first_regulating_statute.formatted_name, statute_path(@substance.first_regulating_statute) %></td>
         <% else %>
            <td class='expiration'>Not currently regulated</td>
         <% end %>
      </tr>
      <% if (@substance.wikipedia_url rescue nil) %>
         <tr>
            <td class='properties'>Wikipedia</td>
            <td class='property'><%= link_to 'Wikipedia Link', @substance.wikipedia_url %></td>
         </tr>
      <% end %>
   </table>
   <p></p>

   <% if @substance.substance_alternate_names.size > 0 %>
      <div class='alternate_names'>
         <h3>Deprecated Alternate Names</h3>
         <p><span class='expiration'>Defining alternate names at the substance level is deprecated behavior.  Alternate names must be added to the substance statute link.</span></p>
         <table>
            <% @substance.substance_alternate_names.each do |n| %>
               <tr>
                  <td><%= link_to n.name, substance_alternate_name_path(n) %></td>
               </tr>
            <% end %>
         </table>
      </div>
   <% end %>

   <% if @substance.alternate_names.size > 0 %>
      <div class='alternate_names'>
         <h3>Scheduled Alternate Names</h3>
         <table>
            <tr>
               <th>AKA</th>
               <th>Scheduled By</th>
            </tr>
            <% @substance.alternate_names.each do |n| %>
               <tr>
                  <td><%= link_to n.name, substance_alternate_name_path(n) %></td>
                  <td><%= link_to n.substance_statute.statute.formatted_name, substance_statute_path(n.substance_statute) %></td>
               </tr>
            <% end %>
         </table>
      </div>
   <% end %>

   <div class='comments'>
      <h3>COMMENTS:</h3>
      <p><%= simple_format(@substance.comment) %></p>
   </div>
</div>

<div class='extended_info'>
   <div class='statute_list'>
      <h2>Regulated by Statutes</h2>
      <table>
         <tr>
            <th>Statute</th>
            <th>State</th>
            <th>Start Date</th>
            <th>Expiration Date</th>
            <th>Classification</th>
            <th>Level</th>
            <th>Comment</th>
            <th>Inclusions</th>
            <th>Substance-Statute Link</th>
            <th>Edit</th>
         </tr>

         <% @substance.regulated_by_statutes.each do |s| %>
            <% substance_statute = SubstanceStatute.where(substance_id: @substance.id, statute_id: s.id).first %>
            <tr>
               <td><%= link_to "#{s.formatted_name}", statute_path(s) %></td>
               <td><%= s.state %></td>
               <td><%= s.start_date %></td>
               <% if s.expiration_date %>
                  <td class='expiration'><%= s.expiration_date.strftime('%Y-%m-%d') %></td>
               <% else %>
                  <td></td>
               <% end %>
               <% if substance_statute %>
                  <% if substance_statute.is_expiration? %>
                     <td class='expiration'>N/A</td>
                     <td class='expiration'>Expiration</td>
                     <td><%= simple_format(substance_statute.comment) %></td>
                     <td></td>
                  <% elsif substance_statute %>
                     <% if substance_statute.substance_classification %>
                        <td><%= link_to substance_statute.substance_classification.name, substance_statute.substance_classification %></td>
                     <% else %>
                        <td></td>
                     <% end %>
                     <td class='button'><%= substance_statute.schedule_level ? ScheduleLevelsController::LEVELS.keys[substance_statute.schedule_level - 1] : '' %></td>
                     <td><%= simple_format(substance_statute.comment) %></td>
                     <% if substance_statute.has_include_flags? %>
                        <td class='addition'><small><%= substance_statute.include_flags_string %><small></td>
                     <% else %>
                        <td>None</td>
                     <% end %>
                  <% end %>
                  <td class='button'><%= link_to 'view link', substance_statute %></td>
                  <td class='button'><%= link_to 'edit link', edit_substance_statute_path(substance_statute) %></td>
               <% else %>
                  <td class='button'>inherited</td>
                  <td class='button'>inherited</td>
                  <td class='button'>inherited</td>
                  <td class='button'>inherited</td>
                  <td class='button'>inherited</td>
                  <td class='button'>inherited</td>
               <% end %>
            </tr>
         <% end %>
      </table>
   </div>
</div>

<% if @substance.audits.size > 0 %>
   <div class='audit_log'>
      <%= render partial: 'audits/audit_table', locals: { audits: @substance.audits.all.reverse } %>
   </div>
<% end %>
