<%= form_for @substance_statute do |f| %>
   <% if @substance_statute.errors.any? %>
      <div id="error_explanation">
         <h2>
            <%= pluralize(@substance_statute.errors.count, "error") %> prohibited this substance-statute link from being saved:
         </h2>
         <ul>
            <% @substance_statute.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <p>
      <%= f.label :statute_being_modified %><br/>
      <%= select(:substance_statute, :statute_id, [[@substance_statute.statute.formatted_name, @substance_statute.statute.id]]) %>
   </p>

   <p>
      <%= f.label :substance %><br/>
      <%= select(:substance_statute, :substance_id, Substance.all.sort { |a,b| a.name <=> b.name }.map { |s| [s.name[0..50], s.id] } ) %>
   </p>

   <% if @substance_statute.statute.is_a?(StatuteAmendment)%>
      <p>
         <%= f.label :is_statute_expiring_the_scheduling_of_this_substance %><br/>
         <%= select(:substance_statute, :is_expiration, [false, true]) %>
      </p>
   <% end %>

   <p>
      <%= f.label :include_salts %>                    <%= check_box(:substance_statute, :include_salts) %><br/>
      <%= f.label :include_derivatives %>              <%= check_box(:substance_statute, :include_derivatives) %><br/>
      <%= f.label :include_mixtures %>                 <%= check_box(:substance_statute, :include_mixtures) %><br/>
      <%= f.label :include_isomers %>                  <%= check_box(:substance_statute, :include_isomers) %><br/>
      <%= f.label :include_optical_isomers %>          <%= check_box(:substance_statute, :include_optical_isomers) %><br/>
      <%= f.label :include_geometric_isomers %>        <%= check_box(:substance_statute, :include_geometric_isomers) %>
      <%= f.label :include_positional_isomers %>       <%= check_box(:substance_statute, :include_positional_isomers) %><br/>
      <%= f.label :include_salts_of_isomers %>         <%= check_box(:substance_statute, :include_salts_of_isomers) %><br/>
      <%= f.label :include_salts_of_optical_isomers %> <%= check_box(:substance_statute, :include_salts_of_optical_isomers) %><br/>
      <%= f.label :include_esters %>                   <%= check_box(:substance_statute, :include_esters) %><br/>
      <%= f.label :include_ethers %>                   <%= check_box(:substance_statute, :include_ethers) %><br/>
      <%= f.label :include_compounds %>                <%= check_box(:substance_statute, :include_compounds) %><br/>
      <%= f.label :include_materials %>                <%= check_box(:substance_statute, :include_materials) %><br/>
      <%= f.label :include_preparations %>             <%= check_box(:substance_statute, :include_preparations) %><br/>
   </p>

   <p>
      <%= f.label :schedule_level %><br/>
      <%= number_field(:substance_statute, :schedule_level, in: 1.0..5, step: 1) %>
   </p>

   <p>
      <%= f.label :comment %><br/>
      <%= f.text_area(:comment, cols: '50', rows: '10') %>
   </p>

   <p>
      <%= f.submit %>
   </p>
<% end %>
