<table>
   <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Classification</th>
      <th>State</th>
      <th>Start Date</th>
      <th>Schedule Level</th>
      <th>DEA Code/ACSCN</th>
   </tr>

   <% @substance_statutes.each do |ss| %>
      <tr>
         <td><%= ss.id %></td>
         <td><%= ss.substance.name %></td>
         <td><%= ss.substance.substance_classification.try(:name) %></td>
         <td><%= ss.statute.state %></td>
         <td><%= ss.statute.start_date %></td>
         <% if ss.schedule_level && ss.schedule_level.is_a?(Integer) %>
            <td class='schedule_level'><%= link_to ScheduleLevelsController::LEVELS.keys[ss.schedule_level - 1], { controller: "schedule_levels", action: :show, id: ss.schedule_level } %></td>
         <% else %>
            <td></td>
         <% end %>
         <td><%= ss.substance.dea_code %></td>
      <tr>
   <% end %>
</table>
