<table id="main_table" border="1">
   <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Classification</td>
      <td>State</td>
      <td>Start Date</td>
      <td>Schedule Level</td>
      <td>DEA Code</td>
   </tr>

   <% @substance_statutes.each do |ss| %>
      <tr>
         <td><%= ss.id %></td>
         <td><%= ss.substance.name %></td>
         <td><%= ss.substance.substance_classification.try(:name) %></td>
         <td><%= ss.statute.state %></td>
         <td><%= ss.statute.start_date %></td>
         <td><%= ss.schedule_level %></td>
         <td><%= ss.substance.dea_code %></td>
      <tr>
   <% end %>
</table>
