<table id="main_table" border="1">
   <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Classification</td>
      <td>State</td>
      <td>Start Date</td>
      <td>Schedule Level</td>
      <td>DEA Code</td>
   </tr>

   <% @substance_statutes.each do |ss| %>
      <tr>
         <td><%= ss.id %></td>
         <td><%= ss.substance.name %></td>
         <td><%= ss.substance.substance_classification.try(:name) %></td>
         <td><%= ss.statute.state %></td>
         <td><%= ss.statute.start_date %></td>
         <% if ss.schedule_level && ss.schedule_level.is_a?(Integer) %>
            <td><%= link_to ScheduleLevelsController::LEVELS.keys[ss.schedule_level - 1], { controller: "schedule_levels", action: :show, id: ss.schedule_level } %></td>
         <% else %>
            <td></td>
         <% end %>
         <td><%= ss.substance.dea_code %></td>
      <tr>
   <% end %>
</table>
