<div class='basic_info'>
   <h2>Substance Statute Link (<%= link_to 'Edit', edit_substance_statute_path(@substance_statute) %>)</h2>
   <h3>Substance: <%= link_to @substance_statute.substance.name, substance_path(@substance_statute.substance) %></h3>
   <h3>Statute: <%= link_to @substance_statute.statute.formatted_name, statute_path(@substance_statute.statute) %></h3>
   <h3>
      <% if @substance_statute.is_expiration? %>
         <span class='expiration'>EXPIRATION</span>
      <% else %>
         <span class='addition'>ADDITION</span>
      <% end %>
   </h3>
   <h3>Schedule Level: <%= @substance_statute.schedule_level ? @substance_statute.schedule_level : 'N/A' %></h3>

   <div class='alternate_names'>
      <h3>Alternate Names Defined by Statute</h3>
      <table>
         <% @substance_statute.substance_alternate_names.each do |n| %>
            <tr>
               <td><%= link_to n.name, substance_alternate_name_path(n) %></td>
               <td class='button'><%= link_to 'edit', edit_substance_alternate_name_path(n) %></td>
               <td class='button'><%= link_to 'delete', substance_alternate_name_path(n), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
         <% end %>
      </table>
      <h4><%= link_to 'Add a new alternate name', new_substance_alternate_name_path(substance_statute_id: @substance_statute.id) %></h4>
   </div>
</div>

<div class='comments'>
   <h3>COMMENTS:</h3>
   <p><%= @substance_statute.comment %></p>
</div>
<hr>
<div>
   <h3>Additional information about how this substance is scheduled by this statute</h2>
   <table>
      <tr><td>Include salts?</td><td> <%= @substance_statute.include_salts? %></td></tr>
      <tr><td>include_derivatives?</td><td> <%= @substance_statute.include_derivatives? %></td></tr>
      <tr><td>include_mixtures?</td><td> <%= @substance_statute.include_mixtures? %></td></tr>
      <tr><td>include_isomers?</td><td> <%= @substance_statute.include_isomers? %></td></tr>
      <tr><td>include_optical_isomers?</td><td> <%= @substance_statute.include_optical_isomers? %></td></tr>
      <tr><td>include_geometric_isomers?</td><td> <%= @substance_statute.include_geometric_isomers? %></td></tr>
      <tr><td>include_positional_isomers?</td><td> <%= @substance_statute.include_positional_isomers? %></td></tr>
      <tr><td>include_salts_of_isomers?</td><td> <%= @substance_statute.include_salts_of_isomers? %></td></tr>
      <tr><td>include_salts_of_optical_isomers?</td><td> <%= @substance_statute.include_salts_of_optical_isomers? %></td></tr>
      <tr><td>include_esters?</td><td> <%= @substance_statute.include_esters? %></td></tr>
      <tr><td>include_ethers?</td><td> <%= @substance_statute.include_ethers? %></td></tr>
      <tr><td>include_compounds?</td><td> <%= @substance_statute.include_compounds? %></td></tr>
      <tr><td>include_materials?</td><td> <%= @substance_statute.include_materials? %></td></tr>
      <tr><td>include_preparations?</td><td> <%= @substance_statute.include_preparations? %></td></tr>
   </table>
</div>
