<%= form_for @substance_alternate_name do |f| %>
   <% if @substance_alternate_name.errors.any? %>
      <div id="error_explanation">
         <h2>
            <%= pluralize(@substance_alternate_name.errors.count, "error") %> prohibited this statute from being saved:
         </h2>
         <ul>
            <% @substance_alternate_name.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <% if @substance_alternate_name.substance %>
      <p>This alternate name maps directly to <%= link_to @substance_alternate_name.substance.name, substance_path(@substance_alternate_name.substance) %> and is not associated with any statutes.  This behavior is deprecated.</p>
   <% elsif @substance_alternate_name.substance_statute %>
      <h3>Substance: <%= link_to @substance_alternate_name.substance_statute.substance.name, substance_statute_path(@substance_alternate_name.substance_statute) %></h3>
      <h3>Statute: <%= link_to @substance_alternate_name.substance_statute.statute.formatted_name, statute_path(@substance_alternate_name.substance_statute.statute) %></h3>
      <%= f.hidden_field :substance_statute_id, value:  @substance_alternate_name.substance_statute.id %>
   <% end %>

   <p>
      <%= f.label :alternate_name %><br>
      <%= f.text_field :name, size: 75 %>
   </p>

   <p>
      <%= f.submit %>
   </p>
<% end %>
