<tr>
   <td><%= audit.user.try(:email) || 'Unknown' %></td>
   <td><%= audit.created_at.utc %></td>
   <td><%= audit.auditable_type %></td>
   <% if audit.audited_object.try(:id) %>
      <td><%= link_to("#{audit.audited_object.id}", audit.audited_object) %></td>
   <% else %>
      <td>N/A</td>
   <% end %>
   <% if audit.action == 'destroy' %>
      <td class='expiration'><%= audit.action %></td>
   <% elsif audit.action == 'create' %>
     <td class='addition'><%= audit.action %></td>
   <% else %>
      <td><%= audit.action %></td>
   <% end %>
   <td class='monospace'><%= audit.change_string.html_safe %></td>
</tr>
