<% content_for :title do %>
   <%= 'Search Controlled Sub Data' %>
<% end %>

<div class='basic_info'>
   <h2>SUBSTANCE SEARCH BY SUBSTRING (includes alternate names, chemical formulas, and comments)</h2>
   <%= form_tag(substances_path, method: :get, class: 'navbar-form', id: 'search-form') do %>
      <%= text_field(:search, :substring, size: 50) %>

      <%= submit_tag('SEARCH') %>
   <% end %>
</div>

<div class='basic_info'>
   <h2>STATUTE SEARCH</h2>
   <%= form_tag(statutes_path, method: :get, class: 'navbar-form', id: 'search-form') do %>
      <%= label_tag(:search_state, 'Search for Effective Statutes in a state as of some date:') %>
      <%= select(:search, :state, @states, { include_blank: true }) %><br/>

      <%= label_tag(:as_of_date, 'As of Date (Optional)') %>
      <%= date_field(:search, :as_of_date) %><br/>

      <%= submit_tag('SEARCH') %>
   <% end %>
</div>

