<%= form_for @statute_amendment do |f| %>
   <% if @statute_amendment.errors.any? %>
      <div id="error_explanation">
         <h2>
            <%= pluralize(@statute_amendment.errors.count, "error") %> prohibited this statute amendment from being saved:
         </h2>
         <ul>
            <% @statute_amendment.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <p>
      <%= f.label :parent_statute %><br>
      <%= select(:statute_amendment, :parent_id, Statute.all.map { |s| [s.formatted_name, s.id] }) %>
   </p>

   <p>
      <%= f.label :start_date %><br>
      <%= date_field(:statute_amendment, :start_date) %>
   </p>

   <p>
      <%= f.label :expiration_date %><br>
      <%= date_field(:statute, :expiration_date) %>
   </p>

   <p>
      <%= f.submit %>
   </p>
<% end %>