<h2>AMENDED STATUTE: <%= link_to @statute_amendment.statute.formatted_name, statute_path(@statute_amendment.statute) %>
<h2>AMENDMENT EFFECTIVE DATE: <%= @statute_amendment.start_date.strftime('%Y-%m-%d') %></h2>
<h2>AMENDMENT Expiration Date: <%= @statute_amendment.expiration_date %>

<h3>STATE: <%= @statute_amendment.statute.state %></h2>
<br/>
<h3><%= link_to 'edit statute amendment', edit_statute_amendment_path(@statute_amendment) %></h3>
<br/>

<h3><%= link_to 'add a substance to this amendment', new_statute_amendment_substance_change_path %></h3>
<h3>Substances Added or Removed By This Statute Amendment</h3>
<table>
   <tr>
      <th>Addition/Removal</th>
      <th>Substance ID</th>
      <th>Substance Name</th>
      <th>Scheduled Level</th>
      <th></th>
   </tr>

   <% @statute_amendment.statute_amendment_substance_changes.each do |ss| %>
      <tr>
         <td><%= ss.is_subtraction ? 'Expired' : 'Added' %></td>
         <td><%= link_to ss.substance.name, substance_path(ss.substance) %></td>

         <% if ss.substance.substance_classification.try(:name) %>
            <td><%= link_to ss.substance.substance_classification.name, substance_classification_path(ss.substance.substance_classification) %></td>
         <% else %>
            <td></td>
         <% end %>

         <% if ss.schedule_level && ss.schedule_level.is_a?(Integer) %>
            <td class='schedule_level'><%= link_to ScheduleLevelsController::LEVELS.keys[ss.schedule_level - 1], { controller: "schedule_levels", action: :show, id: ss.schedule_level } %></td>
         <% else %>
            <td></td>
         <% end %>

         <td><%= link_to "edit link", edit_statute_amendment_substance_change_path(ss) %></td>
      </tr>
   <% end %>
</table>


<h3><%= link_to 'back', statutes_path %></h3>
