<table>
   <tr>
      <th>Substance</th>
      <th>Difference</th>
      <th>Statute</th>
   </tr>

   <% comparisons.each do |c| %>
      <tr>
         <td><%= link_to c[:substance_statute].substance.name, c[:substance_statute].substance %></td>
         <% if c[:difference] == StatuteComparisonsController::ONLY_HERE %>
            <td class='expiration'><%= c[:difference] %></td>
         <% elsif c[:difference] =~ /#{StatuteComparisonsController::ALTERNATE_MATCH}/ %>
            <td class='addition'><%= c[:difference] %><%= link_to c[:match].to_s, c[:match] %></td>
         <% else %>
            <td class='middle'><%= c[:difference] %></td>
         <% end %>
         <td><%= link_to c[:substance_statute].statute.formatted_name, c[:substance_statute].statute %></td>
      </tr>
   <% end %>
</table>
