<div class='basic_info'>
   <h2>Comparing <%= @state_one %> to <%= @state_two %> <%= @as_of_date ? "as of #{@as_of_date}" : '' %></h2>
</div>

<div class='set_of_statutes'>
   <h2><%= @state_one %> differences from <%= @state_two %></h2>
   <%= render partial: 'comparison_table', locals: { comparisons: @state_one_only } %>
</div>

<div class='set_of_statutes'>
   <h2><%= @state_two %> differences from <%= @state_one %></h2>
   <%= render partial: 'comparison_table', locals: { comparisons: @state_two_only } %>
</div>
