<%= form_for @substance_classification do |f| %>
   <% if @substance_classification.errors.any? %>
      <div id="error_explanation">
         <h2>
            <%= pluralize(@substance_classification.errors.count, "error") %> prohibited this classification from being saved:
         </h2>
         <ul>
            <% @substance_classification.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <% if @substance_classification.is_a?(ClassificationAmendment) %>
      <% if @parent %>
         <h3>Amending: <%= link_to(@parent.name, @parent) %></h3>
         <%= f.hidden_field :parent_id, value: @parent.id %>
      <% else %>
         <p>
            <%= f.label :amends_classification %><br>
            <%= select(@substance_classification.class.to_s.underscore.to_sym, :parent_id, SubstanceClassification.where(type: nil).map { |c| [c.name, c.id] }) %>
         </p>
      <% end %>
   <% else %>
      <p>
         <%= f.label :name %><br>
         <%= f.text_area :name, cols: '50', rows: '5' %>
      </p>
   <% end %>

   <p>
      <%= f.label :established_by_this_statute %>
      <%= select(@substance_classification.class.to_s.underscore.to_sym, :statute_id, Statute.order(start_date: :asc).all.map { |s| [s.formatted_name, s.id] }, { include_blank: true }) %>
   </p>

   <p>
      <%= f.label :established_at_schedule_level %>
      <%= number_field(@substance_classification.class.to_s.underscore.to_sym, :schedule_level, in: 1.0..5, step: 1) %>
   </p>

   <p>
      <%= f.label :comment, 'Comment' %><br/>
      <%= f.text_area(:comment, cols: '60', rows: '10') %>
   </p>

   <%= render partial: 'substance_statutes/include_flags_checkboxes', locals: { f: f, klass: SubstanceClassification } %>

   <p>
      <%= f.submit %>
   </p>
<% end %>
