<h2><%= link_to "Create new Classification", new_substance_classification_path %></h2>

<table id="main_table" border="1">
   <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Number of Substances In Category</td>
      <td></td>
   </tr>

   <% @classifications.each do |c| %>
      <tr>
         <td><%= link_to "#{c.id}", substance_classification_path(c) %></td>
         <td><%= link_to c.name, substance_classification_path(c) %></td>
         <td><%= c.substances.size %>
         <td><%= link_to 'edit', edit_substance_classification_path(c) %></td>
      <tr>
   <% end %>
</table>
