<h2><%= link_to 'Create new Classification', new_substance_classification_path %></h2>

<table>
   <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Number of Substances In Category</th>
      <th>Edit</th>
      <th>Delete
   </tr>

   <% @classifications.each do |c| %>
      <tr>
         <td><%= link_to "#{c.id}", substance_classification_path(c) %></td>
         <td><%= link_to c.name, substance_classification_path(c) %></td>
         <td><%= c.substances.size %>
         <td class='button'><%= link_to 'Edit', edit_substance_classification_path(c) %></td>
         <td class='button'><%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <tr>
   <% end %>

   <tr>
      <td></td>
      <td>Unclassified</td>
      <td><%= @unclassified_count %></td>
      <td></td>
      <td></td>
   </tr>
</table>
