<div class='basic_info'>
   <h1><%= @substance_classification.name %> (<%= link_to 'edit', edit_substance_classification_path(@substance_classification) %>)</h1>
   <h2>Established by this statute: <%= @substance_classification.statute ? link_to(@substance_classification.statute.formatted_name, @substance_classification.statute) : '' %></h2>
   <h2>At Level:
      <% if @substance_classification.schedule_level %>
         <%= link_to ScheduleLevelsController::LEVELS.keys[@substance_classification.schedule_level - 1], { controller: 'schedule_levels', action: :show, id: @substance_classification.schedule_level } %>
      <% end %>
   </h2>
   <div class='comments'>
      <h3>COMMENTS:</h3>
      <p><%= simple_format(@substance_classification.comment) %></p>
   </div>
   <%= render partial: 'substance_statutes/include_flags_table', locals: { flagged: @substance_classification } %>
</div>

<%= render partial: 'substances/substance_table', locals: { substances: @substance_classification.substances } %>

<% if @substance_classification.audits.size > 0 %>
   <div class='audit_log'>
      <%= render partial: 'audits/audit_table', locals: { audits: @substance_classification.audits.all.reverse } %>
   </div>
<% end %>
