<div class='basic_info'>
   <h1><%= @substance_classification.name %> (<%= link_to 'edit', edit_substance_classification_path(@substance_classification) %>)</h1>
   <%= render partial: 'substance_statutes/include_flags_table', locals: { flagged: @substance_classification } %>
</div>

<div style='margin-top: 10px;'>
   <%= render partial: 'substances/substance_table', locals: { substances: @substance_classification.substances } %>
</div>

<% if @substance_classification.audits.size > 0 %>
   <div class='audit_log'>
      <%= render partial: 'audits/audit_table', locals: { audits: @substance_classification.audits.all.reverse } %>
   </div>
<% end %>
