<% content_for :title do %>
   <%= @substance_classification.to_s %>
<% end %>

<div class='basic_info'>
   <% if @substance_classification.is_a?(ClassificationAmendment) %>
      <h2>
         Amends Classification: <%= link_to(@substance_classification.substance_classification.to_s, @substance_classification.substance_classification) %>
         (<%= link_to 'edit', edit_classification_amendment_path(@substance_classification) %>)
      </h2>
   <% else %>
      <h1><%= @substance_classification.name %> (<%= link_to 'edit', edit_substance_classification_path(@substance_classification) %>)</h1>
   <% end %>

   <h2>Established by this statute: <%= @substance_classification.statute ? link_to(@substance_classification.statute.formatted_name, @substance_classification.statute) : '' %></h2>
   <h2>At Level:
      <% if @substance_classification.schedule_level %>
         <%= link_to "Schedule #{@substance_classification.roman_schedule_level}", { controller: 'schedule_levels', action: :show, id: @substance_classification.schedule_level } %>
      <% elsif @substance_classification.try(:substance_classification).try(:schedule_level) %>
         (Inherits Level <%= @substance_classification.substance_classification.schedule_level %> from <%= link_to(@substance_classification.substance_classification.to_s, @substance_classification.substance_classification) %>)
      <% end %>
   </h2>
   <div class='comments'>
      <h3>COMMENTS:</h3>
      <p><%= simple_format(@substance_classification.comment) %></p>
   </div>
   <div class='extended_info'>
     <h3>Additional information about how this classification is scheduled by this statute and prior classification amendments</h3>
      <p><span class='addition'>This color means the flag came from this classification/amendment</span></p>
      <p><span class='addition_toned_down'>This color means the flag came from the original classification or an earlier amendment</span></p>
      <%= render partial: 'substance_statutes/include_flags_table', locals: { flagged: @substance_classification } %>
   </div>
</div>

<% if !@substance_classification.is_a?(ClassificationAmendment) %>
   <div class='extended_info'>
      <h2>Amendments (<%= link_to('Add an amendment to this classification', new_classification_amendment_path(parent_id: @substance_classification.id)) %>)</h2>

      <% unless @substance_classification.classification_amendments.empty? %>
         <table>
            <%= render partial: 'classification_table', locals: { classifications: @substance_classification.classification_amendments } %>
         </table>
      <% end %>
   </div>
<% end %>

<%= render partial: 'substances/substance_table', locals: { substances: @substance_classification.substances } %>

<% if @substance_classification.audits.size > 0 %>
   <div class='audit_log'>
      <%= render partial: 'audits/audit_table', locals: { audits: @substance_classification.audits.all.reverse } %>
   </div>
<% end %>
