<% if user_signed_in? %>
   <li><%= link_to 'Substances', substances_path %></li>
   <li><%= link_to 'Statutes', statutes_path %></li>
   <li><%= link_to 'Search', statute_searches_path %></li>
   <li><%= link_to 'Documentation', 'https://github.com/apurvis/controlled_sub_data/blob/master/README.md' %></li>

   <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
   <li><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %></li>
<% else %>
   <li><%= link_to 'Sign In', new_user_session_path %></li>
<% end %>
